.for-color {
    width: 100%;
    background-image: url('/images/footer-bg.png');

    .footer-top {
        background-color: #1D3AA0E5;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        gap: 40px;

        .footer-body {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                font-size: 50px;
                font-weight: 900;
                color: white;
                margin-bottom: 5px;
            }

            .subscriptionDescription {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 20px;
                    font-weight: 500;
                    color: white;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                .form-top {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    input {
                        width: 400px;
                        height: 60px;
                        background: white;
                        border-radius: 10px;
                        padding-inline: 20px;
                        border: none;

                        &::placeholder {
                            color: #151A2699;
                            font-size: 17px;
                        }
                    }

                    button {
                        width: 200px;
                        height: 60px;
                        font-size: 17px;
                        border-radius: 10px;
                        font-weight: 700;
                        background: #F2F60F;
                        border: none;
                    }
                }

                .form-bottom {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    align-items: center;

                    input {
                        width: 17px;
                        height: 17px;
                        border-radius: 5px;
                    }

                    p {
                        font-size: 14px;
                        display: flex;
                        margin-left: 5px;
                        flex-direction: row;
                        color: white;

                        a {
                            color: #F2F60F;
                            margin-left: 5px;
                            text-decoration: underline #F2F60F;
                        }
                    }
                }
            }
        }
    }
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #E3E6F0B8;
}