* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    overflow: hidden;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .total-container {
        background-color: #242c40d4;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;

        header {
            width: 1200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 80px;
            margin: 0 auto;
        }
    }

    .container {
        width: 1200px;
        margin: 20px auto;

        .movie-overview {
            width: 950px;
            margin: 0 auto;

            .main-data {
                display: flex;
                flex-direction: row;
                gap: 50px;
                align-items: center;

                .poster-side {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .movie-poster {
                        border-radius: 10px;
                        width: 300px;
                    }

                    .likes {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        .like,
                        .dislike {
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #1B2133;
                            border-radius: 10px;
                        }

                        .waitedBy {
                            width: calc(100% - 180px);
                            height: 50px;
                            background: #1B2133;
                            border-radius: 10px;

                            div {
                                height: 100%;
                                width: 80%;
                                background: #2E6125;
                                border-radius: 10px;
                            }
                        }

                        .favorite {
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #1B2133;
                            border-radius: 10px;
                        }
                    }
                }

                .name-side {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .movie-title {
                        color: white;
                        font-size: 55px;
                        font-weight: 900;
                    }

                    .ratings {
                        display: flex;
                        flex-direction: row;
                        gap: 30px;
                        color: white;

                        .kinoarea,
                        .imdb {
                            display: flex;
                            flex-direction: column;

                            strong {
                                font-weight: 700;
                                font-size: 15px;
                            }

                            span {
                                font-weight: 300;
                                font-size: 13px;
                            }
                        }
                    }

                    .description {
                        font-size: 20px;
                        font-weight: 600;
                        color: white;
                    }

                    .watch-trailer {
                        width: 260px;
                        height: 70px;
                        border-radius: 10px;
                        border: 2px solid #FFFFFF;
                        gap: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: white;
                        font-size: 18px;
                        font-weight: 700;
                        justify-content: center;
                    }
                }
            }

            /* .other-data {} */
        }
    }
}